{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "comment-empty-line-before": null,
    "scss/at-import-partial-extension-blacklist": [],
    "color-hex-length": null,
    "color-named": null,
    "order/properties-alphabetical-order": false,
    "selector-no-qualifying-type": null,
    "property-no-vendor-prefix": null,
    "declaration-property-value-disallowed-list": null,
    "indentation": 2,
    "selector-class-pattern": "^_?[a-z0-9]+(-[a-z0-9]+)*$",
    "rule-empty-line-before": null
  }
}
