@import '../assets/styles/destyle';
@import '../assets/styles/fonts';


html {
  font-size: 16px;
  height: 100%;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100%;

  font-family: Tahoma, sans-serif;
  font-size: 1.125rem;
  line-height: 1.15;
  color: #164a44;

  background-color: #b2d9d0;
}

.visually-hidden,
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
