extends ../../assets/assets
include ../../components/header/header

block variables
  - title = 'Главная страница'
  - data = require('./data')

block header
  +header({ data: data.header, className: 'page__header'})

block main

block footer

