mixin header(options = {})

  - className = options.className ? options.className : '';

  header(class = `${className} header`)
    div(class = 'header__inner')
      h1(class = 'header__title') #{options.data.title}
