mixin favicon()
  meta(name="theme-color" content=`#ffffff`)
  link(rel=`icon` href=require(`../../layout/favicon/img/sunny.svg`).default)
  link(rel=`mask-icon` href=require(`../../layout/favicon/img/sunny.svg`).default color=`#000`)
  link(rel=`apple-touch-icon` href=require(`../../layout/favicon/img/sunny.png`).default)
