mixin favicon()
  meta(name=`theme-color` content=`#ffffff`)
  link(rel=`icon` href='images/google-touch-sunny.png')
  link(rel=`mask-icon` href=`images/sunny.svg` color=`#000`)
  link(rel=`apple-touch-icon` href=`images/sunny.png`)
