@import './styles/destyle.scss';
@import './styles/fonts.scss';
@import './styles/variables.scss';

html {
  font-size: 16px;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;

  font-family: Tahoma, sans-serif;
  font-size: 1.125rem;
  line-height: 25px;
  color: #164a44;

  background-color: #b2d9d0;
}

.visually-hidden,
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
